body {
  --color-primary: #bcaa99;
  --color-primary-dark: #252323;
  --color-secondary: #4e3a27;
  --color-error: #e4818b;
  --color-success: #88f688;
  --border-radius: 0.5rem;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #504A4A;
  font-family: "Poppins", sans-serif;
}

.align-form {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.container {
  width: 400px;
  max-width: 400px;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 40px rgba(205, 193, 193, 0.515);
  border-radius: var(--border-radius);
  background: #F2F7F2;
}

.lottie-login {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-right: 100px;
}

.lottie-login-one {
  position: fixed;
  margin-left: 100px;
  bottom: 0;
  right: 0;
}

.container,
.form__input,
.form__button {
  font-family: "Poppins", sans-serif;
}

.form--hidden {
  display: none;
}

.form > *:first-child {
  margin-top: 0;
}

.form > *:last-child {
  margin-bottom: 0;
}

.form__title {
  margin-bottom: 2rem;
  text-align: center;
}

.form__message {
  text-align: center;
  margin-bottom: 1rem;
}

.form__message--success {
  color: var(--color-success);
}

.form__message--error {
  color: var(--color-error);
}

.form__input-group {
  margin-bottom: 1rem;
}

.form__input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: 1px solid #dddddd;
  outline: none;
  background: #eeeeee;
  transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
  border-color: var(--color-primary);
  background: #ffffff;
}

.form__input--error {
  color: var(--color-error);
  border-color: var(--color-error);
}

.form__input-error-message {
  margin-top: 0.5rem;
  font-size: 0.85rem;
  color: var(--color-error);
}

.form__button {
  width: 100%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #ffffff;
  border: none;
  border-radius: var(--border-radius);
  outline: none;
  cursor: pointer;
  background: #504A4A;
}

.form__button:hover {
  background: var(--color-primary-dark);
}

.form__button:active {
  transform: scale(0.98);
}

.form__text {
  padding-top: 10px;
  text-align: center;
}

.form__link {
  color: var(--color-secondary);
  text-decoration: none;
  cursor: pointer;
  font-size: 14px;
}

.form__link:hover {
  text-decoration: underline;
}

.form_email_verify {
  color: var(--color-success);
  text-align: center;
  font-size: 15px;
}

.form_email_unverify {
  color: var(--color-error);
  text-align: center;
  font-size: 14px;
}

/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.typing-anim {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30vh;
}

.wrapper {
  display: inline-flex;
}

.wrapper .static-txt {
  color: #F2F7F2;
  font-size: 60px;
  font-weight: 700;
}

.wrapper .dynamic-txts {
  margin-left: 15px;
  line-height: 80px;
  height: 80px;
  background: transparent;
  overflow: hidden;
}

.dynamic-txts li {
  list-style: none;
  font-size: 60px;
  font-weight: 700;
  color: #e4818b;
  position: relative;
  top: 0;
  animation: slide 4s steps(2) infinite;
}

@keyframes slide {
  100% {
    top: -160px;
  }
}

.dynamic-txts li span{
  position: relative;
}

.dynamic-txts li span:after{
  content: "";
  background: #504A4A;
  position: absolute;
  left: 0;
  min-height: 80px;
  height: 100%;
  width: 100%;
  border-left: 5px solid #e4818b;
  animation: typing 2s steps(9) infinite;
}

span.employee {
  color: #89A6FB;
}

.dynamic-txts li span.employee::after {
  color: #89A6FB;
  border-left: 5px solid #89A6FB;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -40px 0 40px;
  }
}

.left-side {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}